body,
html {
  width: 100%;
  height: 100%;
  background-image: url("images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.alice {
  position: absolute;
  top: 500px;
  left: 60%;
  max-width: 450px;
}

.aliceImage {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.background img {
  width: 100%;
}

.road {
  position: absolute;
  bottom: 115px;
  height: 150px;
  width: 100%;
  left: 0;
  background-color: rgb(49, 47, 47);
}

#house {
  position: absolute;
  width: 100%;
  right: 10%;
  top: 31.6%;
}
.cloud {
  position: absolute;
  right: 10%;
  top: 0%;
}
#cloud1 {
  position: absolute;
  left: 200px;
}

#dog1 {
  position: absolute;
  top: 45%;
}

#dog2 {
  position: absolute;
  top: 50%;
  left: 20%;
}
